<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wqNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="wqNotes_frm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wqNotes.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>750, 543</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SaveMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastNumberElem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneralOptions" serializeAs="String">
                <value />
            </setting>
        </wqNotes.Properties.Settings>
        <wqNotes_frm.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>750, 543</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LoadLastFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastNumberElem" serializeAs="String">
                <value>0</value>
            </setting>
        </wqNotes_frm.Properties.Settings>
    </userSettings>
</configuration>